@tailwind base;
@tailwind components;
@tailwind utilities;
*{
    box-sizing: content-box;
}
html{
    scroll-behavior: smooth;
}

/* @keyframes end {
  from { opacity: 1; }
  to { opacity: 0; }
}

.end-fade-out {
  animation: end .5s ease-in-out;
} */

