@tailwind base;
@tailwind components;
@tailwind utilities;
*{
    box-sizing: content-box;
}
html{
    scroll-behavior: smooth;
}
/* @keyframes metallic {
    0% {
      background-position: 0% 50%;
    }
    100% {
      background-position: 100% 50%;
    }
  }
  
  .animate-metallic {
    animation-name: metallic;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  } */