---
import Maincontainer from "../MainContainer.astro";
---

<Maincontainer id="about" className="my-32 mx-44 ">
    <h2 class="text-4xl text-center mb-14">About me</h2>
    <div class="flex w-full justify-between">
        <div class="w-1/4">
            <h4>Ramón Hernández</h4>
            <h3 class="text-5xl">Software Engineer Student</h3>
        </div>
        <div class="w-2/4">
            <h4 class="text-3xl mb-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod </h4>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p>
            <div class="flex justify-between my-10">
                <div>
                    <h5 class="uppercase text-orange-500">Born in</h5>
                    <span class="bold">Puerto Vallarta, Jal.</span>
                </div>
                <div>
                    <h5 class="uppercase text-orange-500">University</h5>
                    <a href="http://www.cuc.udg.mx/" target="_blank" class="bold underline">Centro Universitario de la Costa</a>
                </div>
                <div>
                    <h5 class="uppercase text-orange-500">Date of birth</h5>
                    <span class="bold">19 September 2000</span>
                </div>
            </div>
        </div>
    </div>
    <div class="my-32 flex justify-around border-2 border-solid border-black">
        <div class="text-center w-1/2 py-2 px-5">
            1+ <br>
            Years of experience
        </div>
        <div class="bg-black w-1/2 text-white text-center py-2 px-5">
            5+ <br>
            Projects completed
        </div>
        <div class="text-center w-1/2 py-2 px-5">
            1+ <br>
            Happy client
        </div>
    </div>
</Maincontainer>