---
import Maincontainer from "../MainContainer.astro";
---

<Maincontainer id="about" className="mx-44 mt-12 relative h-3/4 justify-between" >
    <div class="flex w-full justify-between">
        <div class="">
            <h1 class="text-7xl mb-5">Ramón Hernández</h1>
            <h2 class="text-zinc-600 pl-1">Computer Engineer Student</h2>
        </div>
        <div class="w-2/4 relative">
            <h3 class="text-3xl mb-3">Products with quality as my main goal.</h3>
            <p class="leading-relaxed"> 
                Student of 7th semester of Computer Engineering, committed to make the best product in order to achieve your project expectations.<br> 
                Lover of science and technology, which inspired me to get into this career focusing in <strong>web and mobile development</strong>. <br>
                I consider myself as a <strong>Front-end developer</strong> specialized in <strong>JavaScript</strong> and <strong>TypeScript</strong> with <strong><a href="https://react.dev/">React</a></strong> and <strong><a href="https://nextjs.org/">NextJs</a></strong> as primary tools in <a class="bold underline" href="#stack"> my stack </a>.

                <q class="pt-5 inline-block" cite="https://open.spotify.com/track/0BO6lsIdirMjfTPnSjja2a?si=dc92d90bdfc44c75">
                    No me creo mejor que nadie, pero nadie es mejor que yo.
                </q> — Rafael Lechowski
            </p>
            <div class="flex justify-between mt-10 w-full">
                <div>
                    <h4 class="uppercase text-[#690d0c]">Born in</h4>
                    <span class="bold">Puerto Vallarta, Jal.</span>
                </div>
                <div>
                    <h4 class="uppercase text-[#690d0c]">University</h4>
                    <a href="http://www.cuc.udg.mx/" target="_blank" class="bold underline">Centro Universitario de la Costa</a>
                </div>
                <div>
                    <h4 class="uppercase text-[#690d0c]">Date of birth</h4>
                    <span class="bold">19 September 2000</span>
                </div>
            </div>
        </div>
    </div>
    <div class="flex w-full justify-around border-2 border-solid border-[#1c274c] mt-24">
        <div class="text-center w-1/2 py-2 px-5">
            1+ <br>
            Years of experience
        </div>
        <div class="w-1/2 text-white bg-[#1c274c] text-center py-2 px-5">
            5+ <br>
            Projects completed
        </div>
        <div class="text-center w-1/2 py-2 px-5">
            1+ <br>
            Happy client
        </div>
    </div>
</Maincontainer>