---
import DynamicSvg from "../DynamicSvg.astro";
import MainContainer from "../MainContainer.astro";
import Tech from './../../../lib/tech.json'
---

<MainContainer id="stack" className="mt-9 pb-9 mx-6 md:mx-12 lg:mx-auto ">
    <h2 class="text-4xl text-center my-7">Stack</h2>
    <div class="flex flex-col items-center md:flex-row md:justify-between gap-2">
        {Tech.map(tech => (  
            <article class="w-full md:w-1/4">
                <a 
                class="flex h-[102px] w-full gap-2 flex-col justify-evenly items-center transition-colors duration-500 border-2 border-solid border-gray-300 hover:border-gray-400"
                href={tech.link} 
                target="_blank">
                    <DynamicSvg svgName={tech.name}/>
                    <h3>{tech.name}</h3>
                </a>    
            </article>
        ))}
    </div>
</MainContainer>