<section id="stack" class="flex flex-col border-solid border-2 border-black w-full left-0 mb-32">
    <h2 class="text-center text-4xl">Stack</h2>
    <div>
        <div class="h-[40px]">
            tech 1
        </div>
        <div class="h-[40px]">
            tech 1
        </div>
        <div class="h-[40px]">
            tech 1
        </div>
        <div class="h-[40px]">
            tech 1
        </div>
        <div class="h-[40px]">
            tech 1
        </div>
    </div>
</section>