---
import Header from '../components/Header.astro';
import AboutMeSection from '../components/sections/AboutMeSection.astro';
import ProjectsSection from '../components/sections/ProjectsSection.astro';
import StackSection from '../components/sections/StackSection.astro';
---
<html lang='en'>
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/icon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>MonkiG</title>
	</head>
	<body class="h-screen bg-[#e0dfdd] box-border text-[#1c274c]">
		<Header></Header> 
		<main class="h-full">
			<AboutMeSection/>
			<ProjectsSection/>
		</main>
	</body>
</html>

<style>
	html {
		scroll-behavior: smooth;
	}
</style>