---

interface Props {
    index?: boolean
}
 const { index } = Astro.props
---
<header class='flex justify-between items-center py-5 mx-44 '>
    <section class="flex gap-3 justify-center items-center">
        <img src="/images/me.jpeg" alt="Ramón Hernández foto" class="h-[40px] w-[40px] rounded-full hover:animate-wiggle hover:animate-infinite hover:animate-duration-500">
        <!-- <h2>MonkiG</h2> -->
    </section>
    <section class="flex items-center gap-5">
        <ul class="flex gap-4 items-center">
            <li><a href="https://www.linkedin.com/in/ram%C3%B3n-hern%C3%A1ndez-a794a0279/" target="_blank" class="px-2 border-b-2 border-solid border-gray-300 hover:border-gray-500 transition-colors duration-500 py-[2px]">LinkedIn</a></li>
            <li><a href="https://github.com/MonkiG" target="_blank" class="px-2 border-b-2 border-solid border-gray-300 hover:border-gray-500 transition-colors duration-500 py-[2px]">GitHub</a></li>
            <li><a href="https://twitter.com/ElMonkiG_" target="_blank" class="px-2 border-b-2 border-solid border-gray-300 hover:border-gray-500 transition-colors duration-500 py-[2px]">Twitter</a></li>
        </ul>
       <button aria-label="toggle dark mode" class="border-l-2 border-solid border-gray-300 px-5  hover:animate-wiggle hover:animate-infinite hover:animate-duration-500"><img src="/dark-mode.svg" alt=""></button>
    </section>
</header>