---

interface Props {
    index?: boolean
}
 const { index } = Astro.props
---
<header class='flex justify-between items-center py-5 mx-44 '>
    <section class="flex gap-3 justify-center items-center">
        <img src="/images/me.jpeg" alt="Ramón Hernández foto" class="h-[40px] w-[40px] rounded-full">
        <h1>MonkiG</h1>
    </section>
    <section class="flex items-center gap-5">
        <ul class="flex gap-4 items-center border-r-2 border-solid border-gray-300">
            <li><a href="https://www.linkedin.com/in/ram%C3%B3n-hern%C3%A1ndez-a794a0279/" target="_blank" class="px-2">LinkedIn</a></li>
            <li><a href="https://github.com/MonkiG" target="_blank" class="px-2">GitHub</a></li>
            <li><a href="https://twitter.com/ElMonkiG_" target="_blank" class="pl-2 pr-5">Twitter</a></li>
        </ul>
       <button><img src="/dark-mode.svg" alt=""></button>
    </section>
</header>