---
import SectionHeading from "./SectionHeading.astro";

const languages = [
  "JavaScript",
  "TypeScript",
  "PHP",
  "Go",
  "Python",
  "PostgreSql",
  "MongoDB",
];
---

<section class="panel languages" aria-labelledby="languages-title">
  <SectionHeading number="02" title="Languages" id="languages-title" />
  <p>
    I have worked with and experimented across a wide range of languages, so
    adapting to a new stack is usually straightforward: understand the idioms,
    learn the tooling, and build with intention.
  </p>
  <ul class="language-list" aria-label="Languages and tools">
    {languages.map((language) => <li>{language}</li>)}
  </ul>
  <figure class="languages-gif">
    <img
      src="https://media1.giphy.com/media/v1.Y2lkPTc5MGI3NjExdDExbWlyNTk5NW1paDhoN2lkcGVycHU4YzZ3NGk1ZXA5ZGhuYnhrcSZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/QMHoU66sBXqqLqYvGO/giphy.gif"
      alt="this is fine"
    />
  </figure>
</section>
